<%= form_for @list, id: 'new_list' do |f| %>

    <div class="row">
      <div class="nine columns">
        <%= f.text_field :name, class: "u-full-width" %>
      </div>
      <div class="three columns">
        <%= f.submit 'Add', class: "button button-primary u-full-width" %>
      </div>
    </div>
<% end %>
