  <%= form_for @task, id: 'new_form', remote: true do |f| %>
      <%= f.hidden_field :list_id, :value => @list_id %>

      <div class="row">
        <div class="nine columns">
          <%= f.text_field :name, class: "u-full-width" %>
        </div>
        <div class="three columns">
          <%= f.submit 'Add', class: "button button-primary u-full-width" %>
        </div>
      </div>
  <% end %>
